"path/to/folder/" 
"C:\Users\alber\OneDrive\Documents\GitHub\Fiber_Photometry_revisions\Pose_Tracking\keypoint_moseq_project_home_cage" 
Pose_Tracking/keypoint_moseq_project_home_cage/ 
Pose_Tracking/syllable_transition_da_alignment_outputs/ 
Pose_Tracking/home_cage_pose_DA_all.csv 
Reward_Training-Competition/Reward_Competition/rc_peak_troubleshooting.ipynb 
